@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root {
  --body-color: 48 48 58;
  
  --font-color: 255 255 255;
  --highlight-color: 0 0 0;
  
  --theme-background: 20 20 20;
  
  --theme-light: 0 0 0;
  --theme-medium: 0 0 0;
  --theme-dark: 0 0 0;
}



.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6rem;
  background: black;
  backdrop-filter: 2px;
  box-shadow: rgb(86, 91, 95) 3px 3px 6px 0px inset, 
  rgba(155, 145, 145, 0.5) -3px -3px 6px 1px,
  rgba(62, 62, 62, 0.5) 3px 3px 6px 1px;
}
#nav h1 {
  position: absolute;
  top: 0;
  left: 0;
}
/* CSS to style the links in the navigation menu */
#nav-links li a {
  color: #05e1f5; /* Change this color code to your desired color */
  text-decoration: none; /* Remove underlines from the links */
  font-weight: bold; /* Optionally make the text bold */
  /* Add any other styling you want */
}

/* Style the links on hover */
#nav-links li a:hover {
  color: #ecf4f4; /* Change this color code to your desired hover color */
  /* Add any other hover styles you want */
}




.container_last {
  position: relative;
  min-height: 100vh; /* Ensure that the container covers at least the full viewport height */
}



span{
  color: #ffcf81;;
}
/* Add this CSS to style the burger button */
.burger-menu {
  display: none; /* Hide the burger button by default on larger screens */
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* Media query for showing the burger button on smaller screens */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex; /* Show the burger button on smaller screens */
  }

  /* You can add additional styles to hide/show the navigation menu as needed */
}



ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

ul li{
  font-size: 20px;
  color: #ffcf81;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

ul li:hover{
  color: #fff;
}




/* Rest of your CSS styles for other elements can remain the same */


body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--theme-background));
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

* {
  box-sizing: border-box;
}



button, a, input {  
  outline: none;
}

.highlight {
  color: rgb(var(--highlight-color));
}

.fancy-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
h1{
  color: #fff;
}


/* animated logo effect */

:root {
  --atom-size: 180px;
  --atom-color-hex: #00d8ff;
  --atom-color-rgb: 0, 216, 255;
  --nucleus-size: calc(var(--atom-size) / 5);
  --electron-color-hex: #99f8ff;
  --electron-size : calc(var(--atom-size) / 25);
  --electron-orbit-size : calc(var(--atom-size) / 2.5);
  --electron-speed : 1.2s;
  --electron-speed-alpha : 1s;
  --electron-speed-omega : .8s;
}


*, *:before, *::after { box-sizing: border-box; }



.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-left:auto;
  right:-10px; /* Add this line to move it to the right */
}


.main .picture{
  
  position: absolute;
  width: 475px;
  height: auto;
  top: 10%;
  left: 100%;
  animation: picture 3s forwards;
  animation-delay: 1s;
  margin: auto;
  width: 50%;
  margin-left:auto;
 
  padding: 10px;
}

@keyframes picture{
  0%{
      top: 18%;
      left: -100%;
      opacity: 1;
  }
  99%{
      top: 20%;
      left: 8%;
      opacity: 1;
  }
  100%{
      top: 20%;
      left: 8%;
      opacity: 0;
  }
}

.shake{
  position: absolute;
  width: 500px;
  height: auto;
  top: 18%;
  left: 8%; 
  animation: shake 1s ease infinite;
  opacity: 0;
  animation-delay: 3.33s;
}

@keyframes shake{
  0%{
      top: 18%;
      left: 8%;
      opacity: 1;
  }
  50%{
      top: 20%;
      left: 8%;
      opacity: 1;
  }
  100%{
      top: 18%;
      left: 8%;
      opacity: 1;
  }
  
}
.small-image {
  width: 50%; /* Adjust the width as needed (50% reduces the size by half) */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 200px;

}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures the container takes the full height of the viewport */
}
.btn1 {
  
  display: block;
  margin: 0 auto;
  padding: 20px 4rem;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffcf81;
  color: #ffcf81;
  background: transparent;
  transition: 0.4s;
  font-weight: 700;
  letter-spacing: 0.1em;
}
/* Use flexbox to move the button to the right */


.btn {
  align-self: flex-end; /* Move the button to the right */
}

.main .main__text{

  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items:flex-end;
  position: absolute;
  top: 30%;
  right: 5%;
  width: 50%;
  color: aliceblue;
  opacity: 0;
  animation: text 3s forwards;
  background: linear-gradient( #caecea14, #caecea14);
  box-shadow: rgb(86, 91, 95) 3px 3px 6px 0px, 
  rgba(155, 145, 145, 0.5) -3px -3px 6px 1px,
  rgba(62, 62, 62, 0.5) 3px 3px 6px 1px;
  padding: 3rem;
  border-radius: 25px;
}

.main .main__text h1{

  font-size: 50px;
 
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: -1px -2px 1px rgba(140, 140, 140, 1);
  
}
h2{
  text-align: center;
  color:rgb(233, 70, 11);
  font-family:cursive;
  margin-bottom: 20px;
}

.main .main__text p{
  font-size: 18px;
  margin-bottom: 20px;
  color: aqua;
}

.btn{
  padding: 10px 4rem;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffcf81;
  color: #ffcf81;
  background: transparent;
  transition: 0.4s;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.btn1:hover{
  background: #ffcf81;
  color: #000;
}

.btn:hover{
  background: #ffcf81;
  color: #000;
}

@keyframes text{
  0%{
      top:70%;
      right: 5%;
      opacity: 1;
  }
  100%{
      top: 30%;
      right: 5%;
      opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  #nav {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding: 15px 2rem; /* Adjusted padding for smaller screens */
  }

  #nav h1 {
    text-align: center;
  }

  #nav ul {
    flex-direction: column;
    align-items: center;
  }

  #nav ul li {
    margin: 10px 0;
  }
}
      

  
  .main .main__text h1 {
    font-size: 32px; /* Adjust the font size for smaller screens */
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
    width: 50%;
    padding: 50px;
       /* Adjusted width for smaller screens */

  }
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .main {
        margin-top: 20px; /* Add margin to push it down */
    }
}

@media screen and (min-width: 768px) {
  .main .main__text h1 {
    font-size: 50px; /* Retain the original font size for larger screens */
  }
}

/* Credits */


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Footer styles */
footer {
  background-color: rgba(9, 1, 1, 0.7); /* Use RGBA color with alpha (transparency) */
  color: hsl(0, 76%, 5%);
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;}








/* Footer copyright notice */
footer p {
  margin: 0;
  font-size: 16px;
  color: aqua;
}

/* Footer links */
footer nav {
  margin-top: 20px;
}

footer nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  transition: color 0.3s ease;
}

footer nav a:hover {
  color: #ffcf81;
}

/* Social media icons */
.social-icons {
  margin-top: 20px;
}


.social-icons a {
  color: #fff;
  font-size: 50px; /* Adjust the font-size to increase the icon size */
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}


.social-icons a:hover {
  color: #ffcf81;
}
@media (max-width: 768px) {
  .menu-icon {
      display: block;
      font-size: 24px;
  }

  nav ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      text-align: center;
      display: none;
  }

  nav ul.active {
      display: flex;
  }

  nav ul li {
      margin: 15px 0;
  }
}
